# App Configuration
PORT=3000
NODE_ENV=development

# SMTP Configuration (Domains.co.za)
SMTP_USER=help@vibrantws.co.za
SMTP_PASS=

# PayFast Configuration
PAYFAST_MERCHANT_ID=
PAYFAST_MERCHANT_KEY=
PAYFAST_PASSPHRASE=
PAYFAST_ENV=sandbox # use 'live' for production
